<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="uk-container">
        <form action="/sheet" method="post">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">視聴日</label>
                    <input class="uk-input" type="text" placeholder="視聴日" name="date" value="<%= message.release_date %>">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">タイトル</label>
                    <input class="uk-input" type="text" placeholder="タイトル" name="title" value="<%= message.title %>">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">製作年</label>
                    <input class="uk-input" type="text" placeholder="製作年" name="release_date" value="<%= message.release_date %>">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">言語</label>
                    <input class="uk-input" type="text" placeholder="言語" name="lang" value="<%= message.original_language %>">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">ジャンル</label>
                    <input class="uk-input" type="text" placeholder="ジャンル" name="genres" value="<%= message.title %>">
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">評価</label>
                    <select class="uk-select" name="star">
                        <option></option>
                        <option>☆</option>
                        <option>☆☆</option>
                        <option>☆☆☆</option>
                        <option>☆☆☆☆</option>
                        <option>☆☆☆☆☆</option>
                        <option>☆☆☆☆☆+</option>
                    </select>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">感想</label>
                    <textarea class="uk-textarea" rows="5" placeholder="感想" name="review"></textarea>
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-default">Submit</button>
                </div>
                
            </fieldset>
        </form>
    </div>
</body>

</html>